# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]
*.pyo

# Pytest Cache
.pytest_cache/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Build Files
build/
dist/
*.egg-info/

# Streamlit Cache
.streamlit/secrets.toml

# Generated Reports
report.pdf

# Logs
*.log